
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 83% 98%;
    --foreground: 222 47% 11%;
    --card: 222 83% 98%;
    --card-foreground: 222 47% 11%;
    --popover: 222 83% 98%;
    --popover-foreground: 222 47% 11%;
    --primary: 180 100% 25%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 88%;
    --secondary-foreground: 222 47% 11%;
    --muted: 217 33% 88%;
    --muted-foreground: 215 20% 45%;
    --accent: 33 82% 61%;
    --accent-foreground: 33 96% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 80%;
    --input: 217 33% 88%;
    --ring: 180 100% 25%;
    --chart-1: 180 100% 25%;
    --chart-2: 33 82% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 204 10% 10%;
    --foreground: 210 40% 98%;
    --card: 204 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 35%;
    --primary-foreground: 180 100% 95%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 33 92% 66%;
    --accent-foreground: 33 96% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 17%;
    --ring: 180 100% 35%;
    --chart-1: 180 100% 35%;
    --chart-2: 33 92% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .print\:hidden {
    display: none !important;
  }
  .print\:block {
    display: block !important;
  }
  .print\:border-none {
    border: none !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:p-0 {
    padding: 0 !important;
  }
  .print\:bg-white {
    background-color: white !important;
  }
  .print\:text-black {
    color: black !important;
  }
  .print\:break-after-page {
    page-break-after: always;
  }

  .print-visible-accordion [data-state="closed"] {
    display: block !important;
  }
  .print-visible-accordion [data-radix-accordion-content] {
    display: block !important;
    overflow: visible !important;
    height: auto !important;
    animation: none !important;
  }
  .print-visible-accordion [data-radix-accordion-content] > div {
    overflow: visible !important;
  }
  .print-visible-accordion [data-state='open'] > svg,
  .print-visible-accordion [data-state='closed'] > svg {
      display: none !important;
  }


  .print-visible-tabs > [role="tabpanel"][data-state="inactive"] {
    display: block !important;
    page-break-before: always;
  }
}

    