@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 60% 92.5%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 50% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 50% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 100% 95%;
    --secondary: 180 20% 88%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 180 20% 88%;
    --muted-foreground: 225 8.9% 45.1%;
    --accent: 34 100% 63.5%;
    --accent-foreground: 34 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 25% 80%;
    --input: 180 30% 99%;
    --ring: 180 100% 30%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 34 100% 63.5%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 35%;
    --primary-foreground: 180 100% 95%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 34 100% 63.5%;
    --accent-foreground: 34 100% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 17%;
    --ring: 180 100% 40%;
    --chart-1: 180 100% 35%;
    --chart-2: 34 100% 63.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
